.word1 {
    opacity: 0;
    animation: openclose 5s linear infinite;
    animation-delay: 0s;
  }

  .word2 {
    opacity: 0;
    animation: openclose 5s linear infinite;
    animation-delay: 1s;
  }

  .word3 {
    opacity: 0;
    animation: openclose 5s linear infinite;
    animation-delay: 2s}

  .word4 {
    opacity: 0;
    animation: openclose 5s linear infinite;
    animation-delay: 3s}
  
  
   

  @keyframes openclose {
    0% {
      opacity: 0;
    }
    45% {
      
      opacity: 1;
    }
    70%{
        opacity: 0;
    }
  }